.shrink-animation {
  margin: 0;
  animation: .5s shrinkingAnimation 1s ease-in forwards;
}

.round-corners-animation {
  border-radius: 0;
  animation: .5s borderRadiusAnimation 1s ease-in forwards;
}

.fade-in-right {
  opacity: 0;
  animation: 1s fade-in-right 1.25s ease forwards;
}

.fade-drop-0 {
  opacity: 0;
  animation: .5s fade-drop 1.25s ease-in forwards;
}
.fade-drop-1 {
  opacity: 0;
  animation: .5s fade-drop 1.30s ease-in forwards;
}
.fade-drop-2 {
  opacity: 0;
  animation: .5s fade-drop 1.35s ease-in forwards;
}

.fade-in {
	-webkit-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.fade-out {
	-webkit-animation: fade-out .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-out .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes shrinkingAnimation {
  from {
    margin: 0;
    border-radius: 0;
  }
  to {
    margin: 10px;
    border-radius: 0.5rem;
  }
}

@keyframes borderRadiusAnimation {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 0.5rem;
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-drop {
  from {
    opacity: 0;
    transform: translateY(-24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}