.card {
    height: 300px;
    width: 300px;
    display: flex;
    cursor: pointer;
    
    .card-content {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        overflow: hidden;
        padding: 16px;
        background-color: blue;

        .header {
            height: auto;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            background-color: yellow;

            .card-close-btn {
                opacity: 0;
                position: absolute;
                top: 16px;
                right: -40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                padding: 0;
            }

            .title {
                margin: 0;
                font-size: 24px;
                font-weight: 500;
                line-height: 1;
                // transform-origin: 0 0;
            }

            .subtitle {
                opacity: 0;
                height: 0;
                font-weight: normal;
            }
    
            .desc {
                opacity: 0;
                position: absolute;
                top: 0;
                left: -100%;
                font-size: 16px;
                font-weight: normal;
            }
        }

        .thumbnail-container {
            position: relative;
            display: block;
            height: auto;
            width: 332px;
            background-color: red;
        }
    }
}

.card.fullscreen {
    cursor: default;

    .card-content {
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 0;
        padding: 64px;
        z-index: 100;
        overflow: auto;

        // .animated {
        //     transform-origin: 0 0;
        // }

        // .header {
        //     position: relative;

        //     .card-close-btn {
        //         opacity: 1;
        //         top: 0;
        //         right: 0;
        //         align-self: flex-end;
        //     }

        //     .title {
        //         font-size: 48px;
        //     }

        //     .subtitle {
        //         opacity: 1;
        //         position: relative;
        //         top: 0;
        //         left: 0;
        //         font-size: 24px;
        //     }

        //     .desc {
        //         opacity: 1;
        //         position: relative;
        //         top: 0;
        //         left: 0;
        //         font-size: 16px;
        //         padding-top: 16px;
        //         width: 75%;
        //     }
        // }

        .thumbnail-container {
            // transform-origin: top left;
            // transform: scale(0.43);

            .thumbnail {
                // transform-origin: top left;
            }
        }
    }
}