:root {
  --primary: #3161ff;
  --secondary: #95979b;
  --background1: #edf2f8;
  --text: black;
  --header-height: 114px;
  --section-padding: 58px;
  --font-family: "DMSans";
  --font-family-medium: "DMSans-medium";
  --font-family-bold: "DMSans-bold";
}

@font-face {
  font-family: "DMSans";
  font-weight: 400;
  font-style: normal;
  font-display: block;
  unicode-range: U+000-5FF;
  src: 
    local("DMSans"),
    url("@/assets/fonts/DM_Sans/DMSans-Regular.woff") format("woff"), 
    url("@/assets/fonts/DM_Sans/DMSans-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "DMSans-medium";
  font-weight: 700;
  font-style: normal;
  font-display: medium;
  unicode-range: U+000-5FF;
  src: 
    local("DMSans"),
    url("@/assets/fonts/DM_Sans/DMSans-Medium.woff") format("woff"), 
    url("@/assets/fonts/DM_Sans/DMSans-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "DMSans-bold";
  font-weight: 900;
  font-style: bold;
  font-display: block;
  unicode-range: U+000-5FF;
  src: 
    local("DMSans"),
    url("@/assets/fonts/DM_Sans/DMSans-Bold.woff") format("woff"), 
    url("@/assets/fonts/DM_Sans/DMSans-Bold.ttf") format("ttf");
}

.main-view-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex: 1;
  z-index: 0;
  padding: var(--header-height) var(--section-padding) var(--section-padding) var(--section-padding);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
h2.section-title {
  font-family: var(--font-family-bold);
  font-size: 2.5rem;
  color: var(--text);
  text-align: center;
  margin: 0 0 75px 0;
}

h1, h2, h3, h4, a, p, img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

img {
  max-width: 100%;
  display: block;
}