:root {
  --primary: #3545ac;
  --secondary: #ffffff;
  --background: #ffffff;
}

.section {
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 114px 0 0 0;
}