@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NotoColorEmoji;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

:root {
  --background: #f5f1ee;
  --primary: #e1e1e1;
  --accent: #ff5e2b;
  --header-h: 56px;
  --app-px: 1.5rem;
}

* {
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.dot-grid {
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

@media screen and (max-width: 851px) {
  h1 {
    font-size: 3.75rem;
  }
}

strong {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: var(--accent);
}

::selection {
  color: black;
  background: var(--accent);
}
::-moz-selection { /* Code for Firefox */
  color: black;
  background: var(--accent);
}

/* Animation */
.shrink-animation {
  margin: 0;
  border-radius: 0;
  animation: .5s shrinkingAnimation 1s ease-in forwards;
}

.fade-in-right {
  opacity: 0;
  animation: 1s fade-in-right 1.25s ease forwards;
}

.fade-drop-0 {
  opacity: 0;
  animation: .5s fade-drop 1.25s ease-in forwards;
}
.fade-drop-1 {
  opacity: 0;
  animation: .5s fade-drop 1.30s ease-in forwards;
}
.fade-drop-2 {
  opacity: 0;
  animation: .5s fade-drop 1.35s ease-in forwards;
}

@keyframes shrinkingAnimation {
  from {
    margin: 0;
    border-radius: 0;
  }
  to {
    margin: 10px;
    border-radius: 0.5rem;
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-drop {
  from {
    opacity: 0;
    transform: translateY(-24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}