@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9FAFA;
  --primary: #e1e1e1;
  --accent: #ff5e2b;
  --header-h: 56px;
  --app-px: 1.5rem;

  --card-border: #D9D9D9;
  --card-background: #EEEEEE;
  --card-primary: white;
  --card-accent: var(--accent);
  --card-hover: #FFF4F0;
}

* {
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth !important;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.section {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  z-index: 30;
}

@media screen and (max-width: 851px) {
  h1 {
    font-size: 3.75rem;
  }
}

strong {
  /* font-weight: 500; */
  text-decoration: underline;
  text-decoration-color: var(--accent);
}

::selection {
  color: black;
  background: var(--accent);
}
::-moz-selection {
  color: black;
  background: var(--accent);
}

.radial-bg {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 85%;
  height: 65%;
  background: radial-gradient(
          ellipse 50% 30% at 50% 50%, 
          #241212 50%,
          #000 100%);
  transform: rotate(5deg);
}

.sunrise-gradient {
  background: radial-gradient(
          ellipse 75vw 30% at bottom, 
          #481515 0%,
          #000 100%);
}

.svg-to-accent {
  filter: invert(48%) sepia(20%) saturate(6322%) hue-rotate(342deg) brightness(101%) contrast(103%);
}

.svg-to-white {
  filter: invert(86%) sepia(49%) saturate(77%) hue-rotate(271deg) brightness(113%) contrast(100%);
}

.svg-to-gray {
  filter: invert(75%) sepia(6%) saturate(282%) hue-rotate(202deg) brightness(85%) contrast(94%);
}

.icon-chip-gradient {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, #1d1d1d 0%, #111111 100%);
}