.slideshow-container {
  --slideshow-gap: 8px;
 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--slideshow-gap);
}

.slideshow-row {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--slideshow-gap);
  align-items: center;
  overflow-x: hidden;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
}

.slideshow-block {
  height: 100%;
  display: flex;
  flex-shrink: 0;
  gap: var(--slideshow-gap);
  animation: slideshow 60s linear infinite;
}

.slideshow--reversed .slideshow-block {
  animation-direction: reverse;
  animation-delay: -50s;
}

@keyframes slideshow {
  from {
    transform: translateX(var(0));
  }
  to {
    transform: translateX(calc(-100% - var(--slideshow-gap)));
  }
}